.wrapper{
    padding: 2rem 1rem;
    line-height: 1.5rem;
    font-size: 1rem;
    .title{
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        color: #050d18;
        margin-bottom: 0.8rem;
    }
    .subtitle{
        font-style: italic;
        font-size: 1.2rem;
    }
}