.wrapper{
    padding: 6rem;
    border-bottom: 1px solid lightgrey;
    .title{
        font-size: 1.5rem;
        flex:1;
        color: #173b6c;
        font-size: 2rem;
        font-weight: bold;
    }
    .desc{
        margin:0;
        padding: 0 1rem;
        flex:9
    }
}